---
layout: layouts/base.ejs
---

<article>
  <header>
    <h1 class="text-center font-bold text-3xl text-gray-800"><%= title %></h1>
    <div class="text-center text-sm mb-8">
      <%= this.dateFns.format(new Date(date), 'LLLL d, yyyy') %>
    </div>
  </header>

  <section class="content"><%- content %></section>
  <% var tagsList = tags.filter(t => t !== 'posts') %>
  <% if (tagsList.length > 0) { %>
  <p class="text-center">Read more articles like this</p>
  <ul class="flex justify-center">
    <% tagsList.forEach((tag) => { %>
      <li class="mb-3 flex justify-between px-2">
        <a href="/tags/<%= tag %>"><%= tag %></a>
      </li>
      <% }) %>
  </ul>
  <% } %>
</article>
